.search-form {
    width: 100%;
    max-width: 680px;
}

.search-form-elem {
    padding: 1.4rem 2.8rem;
    border-radius: 3.8rem;
    background-color: rgba(220, 134, 101, 0.5);
}

.search-form-elem .form-content {
    font-size: 2rem;
    padding: 0.6rem;
}

.search-form-elem .form-content::placeholder{
    opacity: 0.9;
}
.form-control {
    background-color: rgba(220, 134, 101, 0);
}
.submit {
    color: #e3d3d1
}